<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let item of stocks">
                    <div class="card p-3">
                      <div class="card-body">
                        <label for="txtName">Product Name</label>
                        <input id="txtName" type="text" class="form-control mb-2" value="{{item.name}}">

                        <label for="txtPrice">Product Price</label>
                        <input id="txtPrice" type="text" class="form-control mb-2" value="{{item.price}}">

                        <label for="txtQuantity">Product Quantity</label>
                        <input id="txtQuantity" type="text" class="form-control mb-2" value="{{item.quantity}}">
                      </div>
                      <div class="card-footer">
                        <button >Edit</button>
                        <a class="btn btn-warning" [routerLink]="['edit-stock',item._id]"></a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
